In [5]:
import pandas as pd

test = {'A': [1,2,3], 'B': [4,5,6], 'C':[7,8,9]}


dataframe = pd.DataFrame(test)
dataframe

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [6]:
dataframe.index = ['月', '火', '水']
dataframe

   A  B  C
月  1  4  7
火  2  5  8
水  3  6  9

In [7]:
dataframe['B']

月    4
火    5
水    6
Name: B, dtype: int64

In [8]:
result = 0
for value in dataframe['B']:
    result += value
result

15